cffi
cython
hydra-core
omegaconf
numpy>=2.0
regex
sacrebleu[ja]
tqdm
bitarray
scikit-learn>=1.5
packaging
llm-blender # Not required, but to keep the environment consistent with the experiment in paper.
transformers==4.45.0
py7zr
datasets[audio]>=2.12
einops
accelerate>=0.34.2
bitsandbytes
evaluate>=0.4.0
bert_score==0.3.13
absl-py
nltk==3.8.1
rouge-score==0.1.2
sacremoses==0.0.53
sortedcontainers
subword-nmt==0.3.8
scikit-learn-extra==0.3.0
torchmetrics==0.10.3
deepspeed # Not required, but to keep the environment consistent with the experiment in paper.
torch==2.4.1
torchaudio==2.4.1
torchcodec; sys_platform == 'linux' # torchcodec is not available for Mac build.
torchvision
mecab-python3
unidic-lite
spacy>=3.8
ja-ginza
jreadability
librosa
soundfile
neologdn
jiwer
spacy-thai
tzdata # Required for spacy-thai
tensorflow==2.19.0
pandas>=2.2.2
git+https://github.com/pltrdy/pyrouge.git@dfdff03cff1b69bfb18d42dadfb79c79f1caaa18
git+https://github.com/lucadiliello/bleurt-pytorch.git@279ca1bb4106bde5a89f0f82723197e23d8446cb
git+https://github.com/neural-dialogue-metrics/Distinct-N.git@e94edcb2e1d2230ff9e0f1821387d7f6d7af0c4f
git+https://github.com/google-research/bleurt.git@cebe7e6f996b40910cfaa520a63db47807e3bf5c
pybind11>=2.12
opencv-python>=4.12.0.88 # Not required, but to keep the environment consistent with the experiment in paper.